{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	||
	{{ event.name }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("sidebar") }}
	{{ encore_entry_link_tags("showEvent") }}
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="position-relative p-0 d-flex">
					<div class="d-md-none d-block offButon p-0 position-fixed mbutton">
						<a class="btn btn-primary d-flex justify-content-center align-items-center border border-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
							<i class="bi bi-arrow-right-square"></i>
						</a>
					</div>
					<div class="d-none d-md-flex col-md-2 bg-dark sidebar border-end border-primary border-2">
						{% include 'component/_forum_sidebar.html.twig' %}
					</div>
					<div class="d-md-none d-flex col-md-2 bg-dark sidebar">
						{% include "component/_forum_offcanvas.html.twig" %}
					</div>
					<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-12 col-md-10 p-0" tabindex="0">
						<div class="d-flex justify-content-center">
							<div class="bg-primary border border-info border-2 text-light p-3 rounded d-flex flex-column align-items-center flex-md-row my-4">
								<div class="me-md-2">
									<h1 class="">Evènement</h1>
								</div>
								<div class="me-md-2">
									<h1 class="">
										{{ event.name|capitalize|u.truncate(20, '...') }}</h1>
								</div>
								<div class="me-md-2">
									<h1 class="">du</h1>
								</div>
								<div class="">
									<h1 class="">{{ event.eventDate|date("d/m/Y") }}</h1>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							{% if event.filename is empty %}
								<div class="">
									<img src="{{ asset('build/images/events/event.d5f2a147.jpg') }}" class="eventImg" alt="Image d'évènement">
								</div>
							{% else %}
								<div>
									<img src="/uploads/eventMedia/{{ event.filename }}" class="eventImg" alt="{{ event.altText }}">
								</div>
							{% endif %}
						</div>
						<div class="d-flex flex-column align-items-center">
							<div class="w-75">
								<div class="my-4">
									<h2 class="fw-bold text-light"><u>Description de l'évènement</u></h2>
								</div>
								<div class="mb-4">
									<p class="fs-4 fw-bold text-light">{{ event.description|striptags|nl2br}}</p>
								</div>
								<hr>
							</div>
						</div>
						<div class="d-flex flex-column align-items-center">
							<div class="my-4 w-75">
								<div class="my-4">
									<h2 class="fw-bold text-light"><u>Inscription à l'évènement</u></h2>
								</div>
								<div class="w-75 mb-4">
									{{ form_start(form) }}
									{{ form_row (form.status, {'label_attr': {'class': 'text-light'}, 'attr':{'class':'form-control formStyle mt-1 mb-4 fw-bold'}}) }}
									<div>
										<button class="btn btn-primary text-light border border-info">
											<i class="bi bi-check-circle me-1"></i>
											{{ button_label|default('Valider') }}
										</button>
									</div>
									{{ form_end(form) }}
								</div>
								<hr>
							</div>
						</div>
						<div class="d-flex flex-column align-items-center">
							<div class="w-75">
								<div class="my-4">
									<h2 class="fw-bold text-light"><u>Participants</u></h2>
								</div>
								{% if event.nbParticipant is empty %}
									<div class="">
										<p class="fs-5 fw-bold text-light">Il y a 0 participant.</p>
									</div>
								{% else %}
									<div class="">
										<p class="fs-5 fw-bold text-light">Il y a
											{{ event.nbParticipant }}
											participant(s).</p>
									</div>
								{% endif %}
								{% if event.nbMaybe is empty %}
									<div class="my-2">
										<p class="fs-5 fw-bold text-light">Il y a 0 peut être.</p>
									</div>
								{% else %}
									<div class="my-2">
										<p class="fs-5 my-2 fw-bold text-light">Il y a
											{{ event.nbMaybe }}
											de peut être.</p>
									</div>
								{% endif %}
								{% if event.nbNoParticipant is empty %}
									<div class="">
										<p class="fs-5 fw-bold text-light">Il y a 0 de non participant.</p>
									</div>
								{% else %}
									<div class="">
										<p class="fs-5 fw-bold text-light">Il y a
											{{ event.nbNoParticipant }}
											de non participant(s).</p>
									</div>
								{% endif %}
								<div class="mb-4 d-flex justify-content-end">
									<a class="btn btn-dark border border-primary border-2" href="{{ path('forum_home') }}">
										<i class="bi bi-box-arrow-in-left"></i>
										Retour</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}
