{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Accueil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("home") }}
{% endblock %}

{% block body %}

	<div class="imgHome d-flex justify-content-center align-items-center shadow">
		<div class="mx-4 d-flex flex-column align-items-center justify-content-center shadow">
			<h1 class="welcome text-light m-0">
				Bienvenue
			</h1>
			<h1 class="welcome text-light m-0">
				Les terres d'Acionna
			</h1>
		</div>
	</div>
	<section>
		<div class="d-flex justify-content-center my-4 p-3 p-lg-0">
			<h2 class="bg-primary border border-2 border-info text-light p-3 rounded">Présentation de l'association</h2>
		</div>
		<div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around pe-lg-4">
			<div class="d-flex flex-column">
				{% for presentation in presentations %}
					<div class="mb-lg-5 ps-lg-5 pe-lg-5 px-3 ms-lg-3 text-light">
						<h3 class="my-4">{{ presentation.name|capitalize }}</h3>
						<p>{{ presentation.content|raw }}</p>
						<p>
							<i>{{ presentation.adress }}</i>
						</p>
						<p>
							<i>{{ presentation.email }}</i>
						</p>
						<hr>
					</div>
				{% endfor %}
			</div>
			<div class=" mb-lg-5 p-3 p-lg-0  d-flex justify-content-center">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4765.359834359369!2d1.967874183480211!3d47.9079859918591!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7fa50619abeab74!2sSalle%20Ren%C3%A9%20Cassin!5e0!3m2!1sfr!2sfr!4v1663183648835!5m2!1sfr!2sfr" width="650" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>
{% endblock %}
