{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	||
	{{ advertisement.name }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("sidebar") }}
	{{ encore_entry_link_tags("showAdvertisement") }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row h-100">
			<div class="position-relative p-0 d-flex">
				<div class="d-md-none d-block offButon p-0 position-fixed mbutton">
					<a class="btn btn-primary d-flex justify-content-center align-items-center border border-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
						<i class="bi bi-arrow-right-square"></i>
					</a>
				</div>
				<div class="d-none d-md-flex col-md-2 bg-dark sidebar border-end border-primary border-2">
					{% include 'component/_forum_sidebar.html.twig' %}
				</div>
				<div class="d-md-none d-flex col-md-2 bg-dark sidebar">
					{% include "component/_forum_offcanvas.html.twig" %}
				</div>
				<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-12 col-md-10 p-0" tabindex="0">
					<div class="d-flex justify-content-center my-4">
						<div class="bg-primary border border-info border-2 text-light p-3 rounded d-flex flex-column align-items-center flex-md-row">
							<div class="me-md-2">
								<h1 class="">Annonce</h1>
							</div>
							<div class="me-md-2">
								<h1 class="">
									{{ advertisement.name|capitalize|u.truncate(20, '...') }}</h1>
							</div>
							<div class="me-md-2">
								<h1 class="">pour le
								</h1>
							</div>
							<div class="">
								<h1 class="">{{ advertisement.advertisementDate|date("d/m/Y") }}</h1>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column align-items-center  pageHeight">
						<div class="w-75">
							<div class="my-4">
								<h2 class="fw-bold text-light"><u>Description de l'annonce</u></h2>
							</div>
							<div class="mb-4">
								<p class="text-light fs-5">{{ advertisement.content|striptags|nl2br }}</p>
							</div>
						</div>
						<div class="mb-4 d-flex justify-content-end col-12 col-md-8 me-4 me-md-0">
							<a class="btn btn-dark border border-primary border-3" href="{{ path('forum_home') }}">
								<i class="bi bi-box-arrow-in-left"></i>
								Retour</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
