{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	||
	{{ advertisement.title }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("sidebar") }}
	{{ encore_entry_link_tags("showAdvertisement") }}
{% endblock %}

{% block body %}
	<div class="container-fluid ">
		<div class="row h-100">
			<div class="col-md-2 sidebar"></div>
			<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-md-10 p-0" tabindex="0">
				<div class="bg-dark div-light d-none d-xl-block position-relative row"></div>
				<div class="backAdvertisement">
					<div class="d-flex justify-content-center my-4">
						<div class="bg-primary border border-dark border-2 text-light p-3 rounded d-flex flex-column align-items-center flex-md-row">
							<div class="me-md-2">
								<h1 class="">Annonce</h1>
							</div>
							<div class="me-md-2">
								<h1 class="">
									{{ advertisement.title|capitalize|u.truncate(20, '...') }}</h1>
							</div>
							<div class="me-md-2">
								<h1 class="">pour le
								</h1>
							</div>
							<div class="">
								<h1 class="">{{ advertisement.advertisementDate|date("d/m/Y") }}</h1>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column align-items-center">
						<div class="w-75">
							<div class="my-4">
								<h2 class="fw-bold">Description de l'annonce</h2>
							</div>
							<div class="mb-4">
								<p class="text-primary fw-bold fs-4">{{ advertisement.content|striptags|nl2br }}</p>
							</div>
						</div>
						<div class="mb-4 d-flex justify-content-end col-md-8 me-4 me-md-0">
							<a class="btn btn-dark border border-primary border-3" href="{{ path('forum_home') }}">
								<i class="bi bi-box-arrow-in-left"></i>
								Retour</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
