{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Demande de personnage
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("characterRequest") }}
{% endblock %}

{% block body %}
	<div class="imgCharacter d-flex flex-column justify-content-center">
		<div class="d-flex justify-content-center mx-3 mx-lg-0 mt-5 mt-lg-0">
			<h1 class="d-flex justify-content-center title p-2  text-primary bg-dark border border-light">Demande de personnage aux conteurs</h1>
		</div>
		<div>
			{{ form_start(form) }}
			<div class="row m-0">
				<div class="container-sm container-lg col-md-8 col-10 mt-5">
					<div class="row m-0">
						<div class="d-md-flex justify-content-lg-around align-items-center">
							<div class="fs-6 text-light col-md-5">
								{{ form_row (form.characterName, {'attr':{'class':'form-control formStyle'}})}}
							</div>
							<div class="fs-6 text-light col-md-5 mt-5 mt-lg-0">
								{{ form_row (form.clan, {'attr':{'class':'form-control formStyle'}})}}
							</div>
						</div>
						<div class="d-md-flex justify-content-lg-around align-items-center my-5 ">
							<div class="fs-6 text-light col-md-5">
								{{ form_row (form.secte, {'attr':{'class':'form-control formStyle'}})}}
							</div>
							<div class="fs-6 text-light col-md-5 mt-5 mt-lg-0">
								{{ form_row (form.status, {'attr':{'class':'form-control formStyle'}})}}
							</div>
						</div>
						<div class="d-flex justify-content-center mb-5">
							<div class="fs-6 text-light col-md-11">
								{{ form_row (form.pattern, {'attr':{'class':'form-control formStyle'}})}}
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center mb-5 pt-lg-3">
						<button class="send p-3 fs-6 fw-bold">
							<i class="bi bi-send-fill me-2"></i>
							{{ button_label|default('Envoyer la demande') }}
						</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>

	</div>


{% endblock %}
