{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Connexion
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("logRegister") }}
{% endblock %}

{% block body %}
	{% if error %}
		<div class="d-flex flex-column align-items-center bg-dark">
			<div class="bg-light flashBorder text-danger fs-5">
				<i class="bi bi-exclamation-triangle me-2"></i>
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		</div>
	{% endif %}
	<div class="bgLogin">
		<div class="row m-0">
			<form method="post">
				<div class="container border border-primary border-4 shadow bg-dark rounded d-flex flex-column align-items-center col-md-5 col-10 marge">
					<h1 class="d-flex justify-content-center mb-5 mt-4 text-light">Se connecter</h1>
					<div class="d-flex flex-column justify-content-center align-items-center col-lg-10">
						<label class="w-100 fs-5 mb-2 text-primary" for="username">E-mail</label>
						<input class=" p-2 fs-5 form-control border-primary" type="text" id="username" name="_username" value="{{ last_username }}" required placeholder="votre.email@acionna.com"/>
					</div>
					<div class="d-flex flex-column justify-content-center align-items-center col-lg-10 mt-4">
						<label class="w-100 fs-5 mb-2 text-primary" for="password">Mot de passe</label>
						<input class=" p-2 fs-5 form-control border-primary" type="password" id="password" name="_password" required placeholder="Mot de passe"/>
					</div>
					<div class="col-lg-10 me-lg-3 my-1">
						<a class="color mt-1 p-2" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="d-flex justify-content-center my-5">
						<button class="btn btn-primary text-light fs-5 border-2 fw-bold" type="submit">
							<i class="bi bi-box-arrow-in-right me-2"></i>Se connecter</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
