<nav class="navbar navbar-expand-lg bg-dark navbar-dark border-bottom border-primary border-2">

	<div class="d-flex align-items-center space justify-content-center">
		<a href="/" class="d-flex align-items-center justify-content-center"><img src="{{ asset('build/images/logo.png') }}" class="logoSize" alt="Logo"/></a>
	</div>
	{% if is_granted('ROLE_MEMBER') and app.user.isActivate == true %}
		<div class="ms-3 my-2 m-md-0">
			<div class="dropdown">
				<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{{ app.user.firstname|capitalize }}
				</a>
				<ul class="dropdown-menu dropdown-menu-dark bg-primary border border-dark border-2">
				{% if is_granted('ROLE_Admin') or is_granted('ROLE_DESK') or is_granted('ROLE_CA') or is_granted('ROLE_STORYTELLER') %}
					<li>
						<a class="dropdown-item text-light" href="{{ path('admin') }}">Admin</a>
					</li>
					{% endif %}
					<li>
						<a class="dropdown-item text-light" href="{{ path('profil_home')}}">Profil</a>
					</li>
					<li>
						<a class="dropdown-item text-light" href="{{ path('character_request') }}">Demande de personnage</a>
					</li>
				</ul>
			</div>
		</div>
	{% else %}
		<div class="ms-3 my-2 m-md-0"></div>
	{% endif %}
	<button class="navbar-toggler me-3 my-2 my-md-2 me-md-3 text-primary border border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-lg-end align-items-center" id="navbar">
		<div class="navbar-nav">
			<div class="d-flex flex-column flex-lg-row align-items-center">
				<a class="nav-item link-light p-2 m-2" href="/">Accueil</a>
				<a class="nav-item link-light p-2 m-2" href="https://camarilla.fr/forum/" target="_blank">Camarilla-fr.com</a>
				<a class="nav-item link-light p-2 m-2" href="{{ path('contact') }}">Contact</a>
				{% if is_granted('ROLE_MEMBER') and app.user.isActivate == true %}
					<a class="nav-item link-light p-2 m-2" href="{{ path('forum_home') }}">Forum</a>
					<a class="nav-item link-light p-2 m-2" href="#">Ressources</a>
					{% endif %}
				{% if app.user %}
					<a class="nav-item link-primary p-2 m-2" href="{{ path('logout') }}">Déconnexion</a>
				{% else %}
					<a class="nav-item link-light p-2 m-2" href="{{ path('login') }}">Connexion</a>
					<a class="nav-item link-light p-2 m-2" href="{{ path('register') }}">Inscription</a>
				{% endif %}
			</div>
		</div>
	</nav>
